includes:
    - ../tools/phpstan/extension.neon
    - ../phpstan-baseline-pure-php.neon

parameters:
    level: 0
    paths:
        - ../pure-php/src
    bootstrapFiles:
        - ../pure-php/vendor/autoload.php
    treatPhpDocTypesAsCertain: false
